@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    background-color: cadetblue;
}

.card {
    color: black;
}
body > div > section > div{
    display :flex;
}


h4 {
    color:black;
}